<div class="chart-container"></div>
<script>
  var chart;
  var data = {{ department_list | tojson }};
  chart = new d3.OrgChart()
    .container(".chart-container")
    .data(data)
    .nodeContent(function (d, i, arr, state) {
      const color = '#FFFFFF';
      return `
        <div style="font-family: 'Inter', sans-serif;background-color:${color}; position:absolute;margin-top:-1px; margin-left:-1px;width:${d.width}px;height:${d.height}px;border-radius:10px;border: 1px solid #E4E2E9">
          <div class="dropdown" style="color:#08011E;position:absolute;right:20px;top:17px;font-size:10px;">
            <i class="fas fa-ellipsis-h dropdown-toggle"></i>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item open-create-department-modal-button"
                        data-url="/company_structure/departments/${d.data.id}/create_modal"
                        data-target="#modals-here"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here">
                  Добавить
                </button>
              </li>
              <li>
                <button class="dropdown-item open-delete-department-modal-button"
                        data-url="/company_structure/departments/${d.data.id}/delete_modal"
                        data-target="#modals-here"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here">
                  Удалить
                </button>
              </li>
              <li><a class="dropdown-item" href="#">Редактировать</a></li>
            </ul>
          </div>
          <div style="font-size:15px;color:#08011E;margin-left:20px;margin-top:32px"> ${d.data.title} </div>
          <div style="color:#716E7B;margin-left:20px;margin-top:3px;font-size:10px;"> ${d.data.positionName} </div>
        </div>
      `;
    })
    .nodeUpdate(function (nodeObj) {
      const that = this;
      d3.select(this)
        .select('.dropdown')
        .on('click', (e, d) => {
          d3.select(this).select('.node-foreign-object').raise();
          d3.select(this)
            .select('.dropdown-menu')
            .node()
            .classList.toggle('show');

          d3.select(this)
            .selectAll('.dropdown-item')
            .on('click', function (e, d) {
              console.log('clicked', e.srcElement);
              d3.select(that)
                .select('.dropdown-menu')
                .node()
                .classList.toggle('show');
            });
        });
    })
    .render();

  $(document).on(
    'click',
    '.open-create-department-modal-button, .open-delete-department-modal-button',
    function() {
      const button = $(this);
      const url = button.data('url');
      const target = $(button.data('target'));

      // Fetch modal content
      $.get(url, function(data) {
        // Insert content into modal container
        target.html(data);
      }).fail(function(error) {
        console.error('Error loading modal:', error);
      });
    }
  );
</script>
