{% extends "base.html.jinja" %}

{% block content %}
  <!-- Breadcrumb -->
  <div class="page-header">
    <!-- Breadcrumb content -->
  </div>

  <!-- Main Content -->
  <div class="row">
    <!-- Dashboard cards -->
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <!-- Card content -->
      </div>
    </div>
    
    <!-- Charts and tables -->
    <div class="col-md-12 col-xl-8">
      <!-- Chart content -->
    </div>
  </div>
{% endblock %}